@model StellerAcunMedyaAkademiPortfolio.Models.TBL_Service
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yeni Hizmet Ekleme Sayfası</h3>

<form method="post">

  










</form>

