@model List<StellerAcunMedyaAkademiPortfolio.Models.TBL_Message>
@{
    ViewBag.Title = "MessageDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Mesaj Detayları</h2>

<table class="table table-striped">
    <tr>
        <th>ADsoyad</th>
        <th>@Model.NameS</th>


    </tr>  
    <tr>
        <th>ADsoyad</th>
        <th></th>


    </tr>   
    <tr>
        <th>ADsoyad</th>
        <th></th>


    </tr>   <tr>
        <th>ADsoyad</th>
        <th></th>


    </tr>





</table>

